@use "../util" as util;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  // clamp(minimum value, preferred value, maximum value) //util.rem  >>>>>check _functions.scss
  font-size: clamp(util.rem(28), util.rem(16) + 2vw, util.rem(40));
  // font-size: clamp(1.75rem, 1rem + 3vw, 2.5rem);
}

h2 {
  font-size: clamp(util.rem(22), util.rem(14) + 1.5vw, util.rem(36));
}

p {
  margin-top: 0;
  font-size: util.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
